@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-mona: 'Mona Sans', sans-serif;
  --color-highlight: #ff6600;
  --color-dark: #0a0a0a;
  --color-light-dark: #171717;
  --color-sub-dark: #242424;
}

body {
  font-family: var(--font-mona);
}

.animate-slide {
  animation: slide 20s linear infinite;
}

@keyframes slide {
  to {
    transform: translateX(-50%);
  }
}
